body {
  margin: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(243, 234, 221);
}

textarea {
  box-sizing: border-box;
  width: 90%;
  height: 110px;
  resize: none;
  left: 2%;
  border-width: 5px;
  border-color: #111;
  border-radius: 4px;
}

.print-exclude {
  display: block;
}

.print-only {
  display: none;
}

table {
  border: none;
  margin: 25px;
}
td {
  border: none;
  width: 12px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}
img {
  height: 90px;
  margin: 5px;
}
h1 {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h2 {
  margin-top: 45px;
}

label,
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

input {
  height: 20px;
  font-size: medium;
  width: 240px;
  margin: 15px;
}

#instructions1,
#instructions2 {
  width: 800px;
  text-align: left;
  vertical-align: top;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fretLength {
  width: 20px;
  justify-content: center;
}

.hidden {
  display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
}

/* CSS */
.button {
  align-items: center;
  margin-right: 1rem;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #ffdeda;
  outline: 0;
}

.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}

::placeholder {
  font-size: 18px;
}

.toastjs-container {
  position: absolute; /* Fallback */
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: calc(100% - 60px);
  max-width: 400px;

  transform: translateX(-150%);
  transition: transform 1s;

  z-index: 100; /* */
}

.toastjs-container[aria-hidden="false"] {
  transform: translateX(0%);
}

.toastjs {
  background: #fff;
  padding: 10px 15px 0; /* No bottom padding because the buttons have a margin-bottom */
  border-left-style: solid;
  border-left-width: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.toastjs.default {
  border-left-color: #aaaaaa;
}

.toastjs.success {
  border-left-color: #2ecc40;
}
.toastjs.warning {
  border-left-color: #ff851b;
}
.toastjs.danger {
  border-left-color: #ff4136;
}

.toastjs-btn {
  background: rgb(240, 240, 240);
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;

  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.toastjs-btn--custom {
  background: rgb(50, 50, 50);
  color: #fff;
}

.toastjs-btn:hover,
.toastjs-btn:focus {
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
